<div class="searchContainer">
  <div class="row">
    <form (ngSubmit)="onSubmit(searchForm)" class="form-inline" #searchForm="ngForm">
      <div class="form-group">
            <!-- <label>Search:</label> -->
            <input class="form-control" type="text" minlength="2"
            placeholder="Search Contact.." name="search"
            [(ngModel)]="query" #searchCtrl="ngModel" required
            (keyup)="onKey($event)"/>
            <button class="btn btn-success" type="submit" [disabled]="searchForm.invalid">Submit</button>
            <button class="btn" type="reset" (click)="onReset($event)">Reset</button>
      </div>
  </form>
  </div>
</div>
