.sortContainer {
  width:100%;
  text-align: center;
  display:inline-flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  justify-items: stretch;
  margin:auto;
  padding:20px;
}

/* .form-inline .form-group select {
  margin-left: 10px;
} */

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}
