<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <app-cockpit-component></app-cockpit-component>
</div>
<div class="container">
  <div class="row">
      <div class="col">
          <app-search-contact-component>

          </app-search-contact-component>
      </div>
  </div>


    <div class="row">
        <div class="col">
            <app-add-contact-component>

            </app-add-contact-component>
        </div>
    </div>
    <div class="row">
      <div class="col-12">
        <app-sort></app-sort>
      </div>
    </div>

    <div class="row">
        <div class="col">
            <app-contact-list-component>

            </app-contact-list-component>
        </div>
    </div>
</div>
<!-- <div>
  <app-contact-list-component>

  </app-contact-list-component>
</div> -->


