.Cockpit-header {
  /* background-image: linear-gradient(
    to right,
    rgba(44, 62, 80, 0.7)
  ),
    url('../../../src/assets/images/address-book-entry-contact-information.jpg'); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* background-origin: border-box; */
  background-color:rgba(17, 17, 17, 0.8);
  /* height: 200px; */
  padding: 20px;
  /* margin-bottom: 20px; */
  color: white;
  align-items: center;
}

.container {
  margin:auto;
  /* display: block; */
  align-self: center;
}

.row {
  display: flex;
  justify-content: center;
}

.Cockpit-title {
  font-size: 2.3em;
  margin:20px;
  /* font-family: "open sans", sans-serif; */
}

.box1 {
  width:150px;
  height:120px;
  background-color: rgba(0, 116, 217, 0.8);
  border: 2px solid white;
  display: inline-flex;
  align-items: center;
  justify-items: stretch;
  /* padding:10px; */
  text-align:center;

}

/* .fas fa-address-book fa-4x {

  margin:auto;
} */
