<div class="outer">
    <p><strong>Edit Contact: ContactName</strong></p>
    <div class="inner">
        <label >Name:
            <input type="text" name="name"/>
        </label>
    </div>
    <div class="inner">
        <label >Phone:
            <input type="text" name="phone" />
        </label>
    </div>
    <div class="inner">
        <label >Email:
            <input type="text" name="email" />
        </label>
    </div>
    <div class="inner">
        <button>Save</button>
        <button (click)="onCancel($event)">Cancel</button>
    </div>
</div>
